@media (min-width: 200px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1em;
        padding-top: 80px;
        /* Relleno superior igual a la altura de la cabecera*/
    }
    .formulario {
        display: grid;
        grid-template-columns: [labels] auto [controls] 1fr;
        grid-gap: 20px;
        background: rgb(240, 191, 240);
        padding: 1.2em;
        justify-content: center;
    }
    .formulario>label,
    .formulario>fieldset {
        grid-column: labels;
        grid-row: auto;
        justify-content: center;
    }
    .formulario>input,
    .formulario>select {
        grid-column: controls;
        grid-row: auto;
        padding: .4em;
        border: 0;
        justify-content: center;
    }
    .formulario>fieldset,
    .formulario>button {
        grid-column: span 2;
        justify-content: center;
    }
    .formulario>button {
        padding: 1em;
        background: purple;
        border: 0;
        color: white;
        justify-content: center;
    }
    .button {
        padding: .5em;
        background: purple;
        border: .5px;
        color: white;
    }
    /* Header */
    #main-header {
        background: white;
        color: black;
        height: 80px;
        width: 100%;
        top: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main-header a {
        color: white;
    }
    a {
        justify-content: center;
    }
    /* logo */
    #logo-header {
        float: left;
        padding: 15px 0 0 20px;
        text-decoration: none;
        justify-content: center;
    }
    #logo-header:hover {
        color: #0b76a6;
    }
    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }
    #logo-header .site-desc {
        justify-content: center;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }
    .header-logo .logo img {
        width: 150px;
        margin: 0;
    }
    /* Footer */
    #pie {
        height: 50px;
        line-height: 50px;
        background: white;
        color: black;
        text-align: center;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    /* Icon */
    .iconmenu {
        position: absolute;
        left: 25px;
    }
    .iconcart {
        position: absolute;
        float: right;
    }
    .iconfooter {
        font-size: 25px;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    #izquierda {
        font-size: 20px;
        width: 20px;
        background: white;
    }
    #centro {
        width: 60px;
        background: white;
    }
    #derecha {
        font-size: 20px;
        width: 20px;
        background: white;
    }
}